@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
*{
    color:ghostwhite;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@layer base{
    li{
        @apply p-4

    }

    button{
        @apply border hover:bg-transparent 
    }
}

